a {
  text-decoration: none;
}

.chatApp {
  height: calc(100vh - 70px);
  display: flex;
}

.chatMenu {
  flex: 2;
}
.chatBox {
  flex: 8;
}

.chatBoxWrapper {
  display: flex;
  flex-direction: column;
}

.chatBoxTop {
  height: 100%;
  overflow-y: scroll;
  padding-right: 10px;
}

.chatBoxBottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chatMessageInput {
  width: 100%;
  height: 90px;
  padding: 10px;
}

.chatMessageInput:focus {
  outline: none;
}

.chatSendButton {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #417fa3;
  cursor: pointer;
  color: white;
  opacity: 0.8;
}

.chatSendButton:hover {
  opacity: 1;
}

.chatOnline {
  flex: 2;
}

.chatMenuWrapper,
.chatBoxWrapper,
.chatOnlineWrapper {
  padding: 10px;
  background-color: #f0f2f5;
  height: 100%;
}
