.message {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.messageTop {
  display: flex;
}
.username {
  /* margin-right: 20px;
  border-radius: 100px;
  background-color: #a6eadb;
  color: white;
  max-width: 60px;
  max-height: 40px; */
  padding: 2px;
  background-color: #417fa3;
  border-radius: 6px;
  color: white;
  max-width: 100px;
  opacity: 0.8;
  margin-right: 3px;
  margin-left: 3px;
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.messageText {
  padding: 10px;
  border-radius: 20px;
  background-color: #a6d1ea;
  color: white;
  max-width: 400px;
}

.messageBottom {
  font-size: 12px;
  /* margin-top: 10px; */
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: lightgray;
  color: black;
}
